gunicorn==19.8.1
flask==1.1.1
pandas==0.24.2
rulefit==0.3.1
scikit-image==0.15.0
scikit-learn==0.23.2
scipy==1.3.1
seaborn==0.9.0
shap==0.37.0
Shapely==1.6.4.post2
dalex==1.0.0
dash==1.18.1
dash-auth==1.4.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
dash-table-experiments==0.6.0
dask==2.5.2
matplotlib==3.2.1
plotly==4.14.1
plotly-express==0.4.1
mpld3==0.5.2
eli5==0.10.1
pycebox==0.0.1
explainerdashboard==0.2.20.0
