<!DOCTYPE html>
<html style="height: 565px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap+Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="static/css/Article-Clean.css">
    <link rel="stylesheet" href="static/css/Bootstrap-4---Full-Video-Background-v2.css">
    <link rel="stylesheet" href="static/css/Drag-Drop-File-Input-Upload.css">
    <link rel="stylesheet" href="static/css/Header-Blue.css">
    <link rel="stylesheet" href="static/css/Header-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="static/css/smoothproducts.css">
    <link rel="stylesheet" href="static/css/video-background.css">
    <link rel="stylesheet" href="static/css/Video-Parallax-Background-v2.css">
</head>

<body style="height: 673px;">
{% include "navbar.html" %}

    <main class="page landing-page" style="height: 30px;padding: 20px;"></main>
    <div class="d-lg-flex justify-content-center align-items-lg-center parallax">
        <div class="container d-flex justify-content-center align-items-center parallax-content" style="height:100vh;">
            <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center flex-column">
                <h1 class="text-capitalize" style="font-family: Bitter, serif;font-size: 37px;"><br>Explainable Artificial Intelligence<br></h1>
                <p style="font-size: 36px;height: 72px;">Slogan</p>
                <div class="row">
                    <div class="col d-lg-flex d-flex justify-content-center justify-content-lg-center"><button class="btn btn-warning d-lg-flex justify-content-lg-center" type="button" style="font-size: 23px;font-family: Bitter, serif;">Button</button></div>
                </div>
            </div>
        </div><video class="float-right flex-grow-1 flex-shrink-1 justify-content-center align-self-start flex-wrap visible parallax-background" autoplay="" loop="" preload="auto" muted=""><source src="https://rougeonblue.ca/wp-content/uploads/2017/12/rob_home.mp4" type="video/mp4" wp-acf="[{'type':'url','name':'video','label':'Video','wrapper':{'width':25}},{'type':'text','name':'video_css','label':'Video CSS (eg. filters)','wrapper':{'width':25}}]" wp-attr="[{'target':'src','replace':'%1'},{'target':'parent_style','replace':'%2'}]"></video>
        <div
            class="parallax-placeholder" style="background: url(&quot;static/img/placeholder.jpg&quot;);"></div>
    </div>
    <div>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>Bootstrap 4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Customizable</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Responsive</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>All Browser Compatibility</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                </div>
            </div>
            <section class="clean-block about-us" style="height: 800px;">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-info">About Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/img/avatars/avatar1.jpg">
                                <div class="card-body info">
                                    <h4 class="card-title">John Smith</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/img/avatars/avatar2.jpg">
                                <div class="card-body info">
                                    <h4 class="card-title">Robert Downturn</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/img/avatars/avatar3.jpg">
                                <div class="card-body info">
                                    <h4 class="card-title">Ally Sanders</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="page-footer dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h5>Get started</h5>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Sign up</a></li>
                                    <li><a href="#">Downloads</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h5>About us</h5>
                                <ul>
                                    <li><a href="#">Company Information</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Reviews</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h5>Support</h5>
                                <ul>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Help desk</a></li>
                                    <li><a href="#">Forums</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h5>Legal</h5>
                                <ul>
                                    <li><a href="#">Terms of Service</a></li>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <p>© 2020 Copyright Text</p>
                    </div>
                </footer>
            </section>
        </section>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/js/smoothproducts.min.js"></script>
    <script src="static/js/theme.js"></script>
    <script src="static/js/Video-Parallax-Background-v2.js"></script>
</body>

</html>