<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="height: 30px;">
        <div class="container"><a class="navbar-brand logo" data-bs-hover-animate="tada" href="/">XAI</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" data-aos="fade" data-aos-duration="100" data-aos-once="true">
                    <li class="nav-item"><a class="nav-link active"id="home_button" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" id="feat_button" href="/features">Features</a></li>
                    <li class="nav-item dropdown"><a id="service" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Services</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="data_ex" href="/data_explanation">Data Explanation</a>
                            <a class="dropdown-item" id="model_ex" href="/model_explanation">Model Explanation</a>
                        </div>
            </div>
                    </li>
                </ul>
        </div>
        </div>
    </nav>